<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <main id="main" class="main">
    <!-- start Page Title -->
    <div class="pagetitle">
      <h1>Cadastro de times de futebol</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
          <li class="breadcrumb-item active">Times</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card" id="teams">
            <div class="card-body" >
              <h5 class="card-title">Dados do time</h5>

                  <!-- Horizontal Form -->
              <form>
                <div class="row mb-3">
                  <%= form.label 'Time', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.text_field :name, autofocus: true, class: "form-control" %>
                  </div>
                </div>
               <div class="row mb-3">
                  <%= form.label 'Escudo', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.file_field :avatar, class: "form-control" %>
                  </div>
                </div>
                 <div class="row mb-3">
                 <%= form.label 'Ativo?', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                      <%= form.check_box :status, class: "form-check" %>
                    </div>
                  </div>
                </div>
               
                <div class="text-center">
                  <%= form.submit "Alterar",class: "btn btn-primary"%>
                </div>
                <br>
              </form><!-- End Horizontal Form -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= link_to "Back to teams", teams_path %>

    <%= button_to "Destroy this team", @team, method: :delete %>
  </main><!-- End #main -->
  
<% end %>
