<div id="<%= dom_id championship %>">
  
  <tr>
      <td><%= championship.name %></td>
      <td><%= championship.description %></td>
      <td><%= championship.status %></td>
      <td><%= championship.created_at %></td>
      <td><%= championship.updated_at %></td>
      <td><%= link_to "Editar", edit_championship_path(championship) %></td>
      <td>Excluir</td>
  </tr>

</div>
