<p style="color: green"><%= notice %></p>

<%= render @championship %>

<div>
  <%= link_to "Edit this championship", edit_championship_path(@championship) %> |
  <%= link_to "Back to championships", championships_path %>

  <%= button_to "Destroy this championship", @championship, method: :delete %>
</div>
