<div id="<%= dom_id bet %>">
  <p>
    <strong>Score home:</strong>
    <%= bet.score_home %>
  </p>

  <p>
    <strong>Score visit:</strong>
    <%= bet.score_visit %>
  </p>

  <p>
    <strong>Total point:</strong>
    <%= bet.total_point %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bet.status %>
  </p>

</div>
