<%= form_with(model: round) do |form| %>
  <% if round.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <main id="main" class="main">
    <!-- start Page Title -->
    <div class="pagetitle">
      <h1>Cadastro das rodadas de futebol</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
          <li class="breadcrumb-item active">Rodadas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card" id="rounds">
            <div class="card-body" >
              <h5 class="card-title">Dados da rodada</h5>
                <div class="row mb-3">
                  <%= form.label 'Campeonato', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.collection_select(:championship_id, @championships, :id, :name, class: "form-control") %>
                  </div>
                </div>
                <div class="row mb-3">
                  <%= form.label 'Rodada', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.text_field :name, autofocus: true, class: "form-control" %>
                  </div>
                </div>
                <div class="row mb-3">
                  <%= form.label 'Data limite', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.datetime_field :limit_date_bet, class: "form-control" %>
                  </div>
                </div>
                <div class="row mb-3">
                  <%= form.label 'Descrição', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                    <%= form.text_field :description, class: "form-control" %>
                  </div>
                </div>
                 <div class="row mb-3">
                 <%= form.label 'Ativo?', class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-10">
                      <%= form.check_box :status, class: "form-check" %>
                    </div>
                  </div>
                </div>
               
                <div class="text-center">
                  <%= form.submit "Alterar",class: "btn btn-primary"%>
                </div>
                <br>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= link_to "Voltar", rounds_path %>
  </main><!-- End #main -->

<% end %>
