<div id="<%= dom_id round %>">
  
   <tr>
      <td><%= round.championship.name %></td>
      <td><%= round.name %></td>
      <td><%= round.limit_date_bet %></td>
      <td><%= round.description %></td>                    
      <td><%= round.status %></td>
      <td><%= round.created_at %></td>
      <td><%= round.updated_at %></td>
      <td><%= link_to "Editar", edit_round_path(round) %></td>
      <td>Excluir</td>
    </tr>

</div>
