<div id="<%= dom_id round %>">
  <p>
    <strong>Name:</strong>
    <%= round.name %>
  </p>

  <p>
    <strong>Limit date bet:</strong>
    <%= round.limit_date_bet %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= round.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= round.status %>
  </p>

  <p>
    <strong>Campeonato:</strong>
    <%= round.championship.name %>
  </p>

</div>
