<div id="<%= dom_id user %>">
  <tr>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= user.document %></td>
    <td><%= user.notification %></td>
    <td><%= user.status %></td>
    <td><%= user.team.name %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= link_to "Editar", edit_user_path(user) %></td>
    <td>Excluir</td>
  </tr>
</div>
