<div id="<%= dom_id division %>">
  
    <tr>
      <td><%= division.championship.name %></td>
      <td><%= division.name %></td>
      <td><%= division.goup %></td>
      <td><%= division.godown %></td>
      <td><%= division.status %></td>
      <td><%= division.created_at %></td>
      <td><%= division.updated_at %></td>
      <td><%= link_to "Editar", edit_division_path(division) %></td>
      <td>Excluir</td>
    </tr>

</div>
