<div id="<%= dom_id division %>">
  <p>
    <strong>Name:</strong>
    <%= division.name %>
  </p>

  <p>
    <strong>Goup:</strong>
    <%= division.goup %>
  </p>

  <p>
    <strong>Godown:</strong>
    <%= division.godown %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= division.status %>
  </p>

 <p>
    <strong>Campeonato:</strong>
    <%= division.championship.name %>
  </p>

</div>
