<h1>Página inicial</h1>

<%= @teste %>

<%= link_to "Usuários", users_path %>
<br>
<%= link_to "Campeonatos", championships_path %>
<br>
<%= link_to "Rodadas", rounds_path %>
<br>
<%= link_to "Jogos", matches_path %>
<br>
<%= link_to "Apostas", bets_path %>
<br>
<%= link_to "Confrontos", clashes_path %>
<br>
<%= link_to "Divisões", divisions_path %>
<br>
<%= link_to "Divisões dos usuários", division_users_path %>
<br>
<%= link_to "Times", teams_path %>
