<div id="<%= dom_id division_user %>">
  <p>
    <strong>Position:</strong>
    <%= division_user.position %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= division_user.points %>
  </p>

  <p>
    <strong>Victorys:</strong>
    <%= division_user.victorys %>
  </p>

  <p>
    <strong>Loses:</strong>
    <%= division_user.loses %>
  </p>

  <p>
    <strong>Draws:</strong>
    <%= division_user.draws %>
  </p>

  <p>
    <strong>Goal scoredes:</strong>
    <%= division_user.goal_scoredes %>
  </p>

  <p>
    <strong>Goal concededs:</strong>
    <%= division_user.goal_concededs %>
  </p>

  <p>
    <strong>Position previous:</strong>
    <%= division_user.position_previous %>
  </p>

  <p>
    <strong>Exact scores:</strong>
    <%= division_user.exact_scores %>
  </p>
   
  
</div>
