<%= form_with(model: clash) do |form| %>
  <% if clash.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(clash.errors.count, "error") %> prohibited this clash from being saved:</h2>

      <ul>
        <% clash.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :score_home, style: "display: block" %>
    <%= form.number_field :score_home %>
  </div>

  <div>
    <%= form.label :score_visit, style: "display: block" %>
    <%= form.number_field :score_visit %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
