<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :score_home, style: "display: block" %>
    <%= form.number_field :score_home %>
  </div>

  <div>
    <%= form.label :score_visit, style: "display: block" %>
    <%= form.number_field :score_visit %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

   <div>
    <%= form.label :match_date, style: "display: block" %>
    <%= form.datetime_field :match_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
