<div id="<%= dom_id match %>">
  <p>
    <strong>Name:</strong>
    <%= match.name %>
  </p>

  <p>
    <strong>Score home:</strong>
    <%= match.score_home %>
  </p>

  <p>
    <strong>Score visit:</strong>
    <%= match.score_visit %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= match.status %>
  </p>

</div>
