<div id="<%= dom_id match %>">
  <tr>
      <td><%= match.name %></td>
      <td><%= match.teamhome.name %></td>
      <td><%= match.score_home %></td>
      <td><%= match.teamvisit.name %></td>
      <td><%= match.score_visit %></td>
      <td><%= match.match_date %></td>
      <td><%= match.status %></td>
      <td><%= match.created_at %></td>
      <td><%= match.updated_at %></td>
      <td><%= link_to "Editar", edit_match_path(match) %></td>
      <td>Excluir</td>
  </tr>

</div>
